* {
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  width: 100vw;
  height: 100vw;
  background: linear-gradient(
    180deg,
    rgba(27, 40, 102, 1) 0%,
    rgba(27, 69, 102, 1) 100%
  );
  margin: 0;
}
